body{
    background-color: orange;
    text-align: justify;
    font-size: 1.2em;
}
div{
   background-color: cornsilk;
   width: 960px;
   padding: 10px;
        margin-left: auto;
    margin-right: auto;
}
h1{
    border-bottom: 3px double orange;
    text-align: center;
}

h2{
    border-top: 1px solid orange;
    border-bottom: 1px solid orange; 
    margin-right: 500px;
}

img{
    float: right;
    vertical-align: top;
    width: 200px;
    border: 1px solid orange;
}

p{
    text-indent: 2em;
}

footer{
    font-style: italic;
    margin-left: 250px;
}

li{
    margin-left: 50px;
    margin-right: 250px;
}